@font-face {
	src: url('./font/ChicagoFLF.ttf');
	font-family: ChicagoFLF;

	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	src: url('./font/fallouty.ttf');
	font-family: fallouty;

	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@layer variables {
	:root {
		/* Fonts */
		--font-family: 'ChicagoFLF', 'Cascadia Code', 'Fira Code', 'Monaco', monospace;
		--title-family: 'fallouty', var(--font-family);
		/* Sizes */
		--font-size: 1.2rem;
		--margin-size: 2rem;

		--divider-icon-size: 5rem;
		--divider-size: calc(var(--divider-icon-size) / 10);

		--table-wrapper-height: clamp(15rem, calc(90vh - 4rem), 100rem);
		--table-wrapper-width: clamp(15rem, calc(90vw - var(--margin-size) * 4), 100rem);
		--table-spacing: 0.1rem;
		--table-cell-padding: 0.2rem;
		--table-image-size: clamp(4rem, 10vmin, 6rem);

		--map-wrapper-size: clamp(15rem, calc(90vmin - 4rem), 100rem);
		--world-map-size: 100%;

		--rounded-corners: 0.4rem;
		--button-size: 4rem;

		--image-size: clamp(15rem, 50vmin, 60rem);

		--toc-width: clamp(15rem, 100vmin, 30rem);
		/* Colors */
		--bg-color: light-dark(lightgray, #141414);
		--font-color: light-dark(darkslategray, whitesmoke);

		--scrollbar-color: rgba(169, 169, 169, 0.5);
		--scrollbar-bg-color: rgba(169, 169, 169, 0.2);

		--link-color: light-dark(dodgerblue, darkslateblue);
		--link-visited-color: light-dark(indigo, darkorchid);
		--link-hover-color: light-dark(darkorange, orangered);
		--link-active-color: light-dark(red, maroon);

		--bg-table-even: light-dark(gainsboro, #181a1b);
		--bg-table-odd: light-dark(silver, #212c2c);

		--color-red: light-dark(orangered, navajowhite);
		--bg-red: light-dark(lightsalmon, maroon);

		--color-blue: light-dark(navy, lightskyblue);
		--bg-blue: light-dark(cornflowerblue, midnightblue);

		--color-green: light-dark(darkgreen, palegreen);
		--bg-green: light-dark(darkseagreen, darkgreen);

		--color-yellow: light-dark(darkgoldenrod, yellow);
		--bg-yellow: light-dark(khaki, saddlebrown);

		--title-rp: light-dark(magenta, deeppink);
		--color-rp: light-dark(purple, peachpuff);
		--bg-rp: light-dark(violet, #2b0049);

		--map-marker-color: lime;
		--map-route-color: darkorange;
		--map-encounter-color: deepskyblue;

		--completed-quest-color: rgba(211, 211, 211, 0.5);

		--divider-gradient: linear-gradient(
			to right,
			transparent,
			darkgray calc(50% - var(--divider-icon-size) - var(--divider-size)),
			transparent calc(50% - var(--divider-icon-size) - var(--divider-size)),
			transparent calc(50% + var(--divider-icon-size) + var(--divider-size)),
			darkgray calc(50% + var(--divider-icon-size) + var(--divider-size)),
			transparent
		);
	}

	@media (max-width: 600px) {
		:root {
			--font-size: 1rem;
			--margin-size: 1rem;
			--divider-icon-size: 3rem;
			--world-map-size: 200vmax;
		}
	}

	@media (max-width: 1000px) { :root { --world-map-size: 150vmax; } }
}
