@layer components {
	map-wrapper {
		display: block;
		contain: content;
		width: var(--map-wrapper-size);
		height: var(--map-wrapper-size);
		overflow: auto;
		overscroll-behavior: contain;
		text-align: center;
		content-visibility: auto;
		margin-inline: auto;

		svg {
			width: 100%;
			height: auto;
			object-fit: contain;
		}

		text {
			fill: currentcolor;
			font-family: inherit;
			text-anchor: middle;
			alignment-baseline: hanging;
		}
	}

	#enclave-map {
		rect {
			fill: transparent;
			stroke-width: 0.1rem;
			stroke: currentcolor;
		}

		text { alignment-baseline: middle; }
		.room-text { font-size: 2rem; }
		.corridor-text { font-size: 1rem; }
	}

	#world-map {
		width: var(--world-map-size);
		max-width: revert;
		height: var(--world-map-size);

		circle {
			stroke: currentcolor;
			stroke-width: 0.2ch;
			fill: url('#world-map-marker-fill');
		}

		a {
			color: var(--map-marker-color);
			font-family: var(--title-family);
			text-decoration: none;
		}

		path {
			stroke: var(--map-route-color);
			stroke-width: 0.2rem;
			stroke-linecap: round;
			stroke-dasharray: 0.4rem;
		}

		text {
			--text-distance: 0.5rem;
			transform: translateY(var(--text-distance));
		}

		.text-above text {
			--text-distance: -1rem;
			alignment-baseline: baseline;
		}

		.medium-marker text { --text-distance: 1.5rem; }
		.big-marker text { --text-distance: 2rem; }
		.text-above.medium-marker text { --text-distance: -1.5rem; }
		.text-above.big-marker text { --text-distance: -2rem; }

		#world-map-marker-fill stop { stop-color: var(--map-marker-color); }
		#rp-marker-fill stop { stop-color: var(--title-rp); }

		#restoration-project-locations {
			a { color: var(--title-rp); }
			circle { fill: url('#rp-marker-fill'); }
		}
	}
}
