@layer components {
	#toc {
		position: absolute;
		margin: 0;
		inset: 0 auto 0 0;
		border: none;
		background: var(--bg-color);
		width: var(--toc-width);
		height: 100vh;
		min-height: 100vh;
		color: inherit;
	}

	#toc::backdrop {
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.5);
	}

	nav {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}
