@layer components {
	button {
		position: fixed;
		bottom: 0;
		z-index: 1;
		margin: calc(var(--margin-size) / 2);
		border: solid medium currentcolor;
		border-radius: 100vmax;
		background-color: var(--bg-color);
		width: var(--button-size);
		height: var(--button-size);
		color: var(--font-color);
		font-size: calc(var(--button-size) / 2);
		line-height: calc(var(--button-size) / 2);
		font-family: inherit;
		text-align: center;
	}

	#toc-button { z-index: 1; }

	#top-button {
		right: 0;
		z-index: 1;
	}

	/** TODO: add focus and active styles */
}
