@font-face {
	font-family: ChicagoFLF;
	src: url('./font/ChicagoFLF.ttf');

	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: fallouty;
	src: url('./font/fallouty.ttf');

	font-display: swap;
	font-weight: bold;
	font-style: normal;
}
