* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
}

::-webkit-scrollbar {
	height: var(--scrollbar-size);
	width: var(--scrollbar-size);
	background: transparent;
}

::-webkit-scrollbar * {
	background: transparent;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg-color);
	border-radius: var(--scrollbar-size);
	border: solid thin var(--bg-color);
}

::-webkit-scrollbar-thumb {
	border-radius: var(--scrollbar-size);
	background: var(--scrollbar-color);
}
