@layer components {
	table-wrapper {
		display: block;
		contain: content;
		margin-inline: auto;
		margin-block: var(--margin-size);
		width: var(--table-wrapper-width);
		max-height: var(--table-wrapper-height);
		overflow: auto;
		content-visibility: auto;

		table {
			border-spacing: var(--table-spacing);
			width: 100%;
			text-align: center;

			& img {
				image-rendering: pixelated;
				max-width: var(--table-image-size);
				max-height: var(--table-image-size);
			}
		}

		tr {
			&:nth-child(odd) { background-color: var(--bg-table-odd); }
			&:nth-child(even) { background-color: var(--bg-table-even); }
			& > * { padding: var(--table-cell-padding); }
		}

		thead {
			position: sticky;
			top: 0;

			tr:nth-child(1) { background-color: var(--bg-table-even); }
		}

		th {
			&[aria-sort]::after {
				--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='darkslategray' d='M9.71 10.21L12 7.91l2.29 2.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42l-3-3a1 1 0 0 0-1.42 0l-3 3a1 1 0 0 0 1.42 1.42m4.58 4.58L12 17.09l-2.29-2.3a1 1 0 0 0-1.42 1.42l3 3a1 1 0 0 0 1.42 0l3-3a1 1 0 0 0-1.42-1.42'/%3E%3C/svg%3E");

				display: inline-block;
				vertical-align: middle;
				width: 1.5em;
				height: 1.5em;
				content: var(--sorting-icon) / '';

				@media (prefers-color-scheme: dark) {
					--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='whitesmoke' d='M9.71 10.21L12 7.91l2.29 2.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42l-3-3a1 1 0 0 0-1.42 0l-3 3a1 1 0 0 0 1.42 1.42m4.58 4.58L12 17.09l-2.29-2.3a1 1 0 0 0-1.42 1.42l3 3a1 1 0 0 0 1.42 0l3-3a1 1 0 0 0-1.42-1.42'/%3E%3C/svg%3E");
				}
			}
			&[aria-sort='ascending']::after {
				--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='darkslategray' d='m17 13.41l-4.29-4.24a1 1 0 0 0-1.42 0l-4.24 4.24a1 1 0 0 0 0 1.42a1 1 0 0 0 1.41 0L12 11.29l3.54 3.54a1 1 0 0 0 .7.29a1 1 0 0 0 .71-.29a1 1 0 0 0 .05-1.42'/%3E%3C/svg%3E");

				@media (prefers-color-scheme: dark) {
					--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='whitesmoke' d='m17 13.41l-4.29-4.24a1 1 0 0 0-1.42 0l-4.24 4.24a1 1 0 0 0 0 1.42a1 1 0 0 0 1.41 0L12 11.29l3.54 3.54a1 1 0 0 0 .7.29a1 1 0 0 0 .71-.29a1 1 0 0 0 .05-1.42'/%3E%3C/svg%3E");
				}
			}
			&[aria-sort='descending']::after {
				--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='darkslategray' d='M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42'/%3E%3C/svg%3E");

				@media (prefers-color-scheme: dark) {
					--sorting-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='whitesmoke' d='M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42'/%3E%3C/svg%3E");
				}
			}
		}

		:is(th, tr) {
			&[data-align='left'] { text-align: left; }
			&[data-align='right'] { text-align: right; }
		}
	}
}
