p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	margin-block: 0;
}

p { margin-block-end: var(--margin-size); }
p:last-of-type { margin-block-end: 0; }

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-family);
	margin-block-end: calc(var(--margin-size) / 2);
}

h1 {
	font-size: 5.052rem;
	text-align: center;
}

h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }
h4 { font-size: 1.563rem; }

blockquote {
	margin-block: var(--margin-size);
	margin-inline: auto;
	font-style: italic;
	text-align: center;
	width: clamp(20ch, 70%, 55ch);
}

blockquote cite {
	display: block;
	text-align: right;
}

blockquote cite::before {
	content: '— ';
}

small { font-size: 0.7em; }
